body {

}

.jumbotron {
    background-image: url("title.jpg");
    background-size: 1300px;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 100vh;
    



}


#title-page {

    color: white;
    text-align: center;


    /*background-image: url("forrest2.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: auto;*/
}
#about-me {
    text-align: center;
}
#lydia-picture {
    width: 38%;
    height: auto;

}
#gallery {

}